
#front-card-basic,
#back-card-basic,
#extra-card-basic {
  display: none !important;
}


#front-card-cloze,
#back-card-cloze,
#extra-card-cloze {
  display: none !important;
}


.cloze {
    color: rgb(64, 176, 224) !important;
}

.cloze * {
    color: inherit !important;
}

#qa:empty {
    display: none;
}

#tags-card, #tags-card-basic, #tags-card-cloze {
    display: none !important;
}

#difficulty-card, #difficulty-card-basic, #difficulty-card-cloze {
    display: none !important;
}